/* __V3D_TEMPLATE__ - template-based file; delete this line to prevent this file from being updated */

body {
    margin: 0px;
    overflow: hidden;
}

#v3d-container {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
}

.fullscreen-button {
    position: absolute;
    top: 5px;
    right: 5px;
    width: 50px;
    height: 50px;
    cursor: pointer;
    background-size: 100% 100%;
    display: none;
    z-index: 1;
}

.fullscreen-open {
    background-image: url('media/fullscreen_open.svg');
}

.fullscreen-close {
    background-image: url('media/fullscreen_close.svg');
}

/* removes tap blinking on ios devices */
* { -webkit-tap-highlight-color:rgba(0,0,0,0); }

/* Dark Theme */

.v3d-simple-preloader-background {
    background-color: #181818;
}

.v3d-simple-preloader-container {
    filter: drop-shadow(0px 0px 4px #2a69bd);
}

#my_iframe {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    border: 0;
}

#verge_coke_button, #verge_sprite_button, #verge_pepper_button, #verge_fanta_button, #spin_button, #wire_button, #verge_can_button, #verge_cup_button, #verge_bottle_button{
    position: absolute;
    width: 150px;
    height: 75px;
/*    background-color: DodgerBlue;*/
/*    color: white;*/
    text-align: center;
    line-height: 30px;
    cursor: pointer;
	background-size: contain;
}

#verge_coke_button {
    left: 10px;
	top: 10px;
	background-image: url("./button_images/coke_button.png");
}

#verge_sprite_button {
    left: 10px;
	top: 90px;
	background-image: url("./button_images/sprite_button.png");
}
#verge_pepper_button {
    left: 10px;
	top: 170px;
	background-image: url("./button_images/pepper_button.png");
}

#verge_fanta_button {
    left: 10px;
	top: 250px;
	background-image: url("./button_images/fanta_button.png");
}
#verge_wire_button {
    left: 10px;
	top: 330px		;
	background-image: url("./button_images/wire_button.png");
}
#verge_spin_button {
    left: 10px;
	top: 410px;
	background-image: url("./button_images/spin_button.png");
}
#verge_can_button {
    right: 10px;
	top: 90px;
	background-image: url("./button_images/can_button.png");
}

#verge_bottle_button {
    right: 10px;
	top: 170px;
	background-image: url("./button_images/bottle_button.png");
}

#verge_cup_button {
    right: 10px;
	top: 250px;
	background-image: url("./button_images/cup_button.png");
}

