.container-3d-preview{
    width: 100%;
    height: 43rem;
    margin: auto;
    padding: 0.1rem;
}

.embed-3d-preview{
    height: 100%;
    width: 100%;
}

.X3DOM_Container{
    width: 90%;
    height: 45rem;
    margin: auto;
    padding: 0.5rem;
}

.X3DOM_Embed{
    height: 100%;
    width: 100%;
}

/*#x3d_coke_button, #x3d_sprite_button, #x3d_pepper_button, #x3d_fanta_button, #spin_button, #wire_button, #x3d_can_button, #x3d_cup_button, #x3d_bottle_button{*/
/*    position: absolute;*/
/*    width: 80px;*/
/*    height: 40px;*/
/*    text-align: center;*/
/*    line-height: 30px;*/
/*    cursor: pointer;*/
/*    background-size: contain;*/
/*}*/

/*#x3d_coke_button {*/
/*    left: 10px;*/
/*    top: 10px;*/
/*    background-image: url("../assets/can_preview/button_images/coke_button.png");*/
/*}*/

/*#x3d_sprite_button {*/
/*    left: 10px;*/
/*    top: 60px;*/
/*    background-image: url("../assets/can_preview/button_images/sprite_button.png");*/
/*}*/
/*#x3d_pepper_button {*/
/*    left: 10px;*/
/*    top: 110px;*/
/*    background-image: url("../assets/can_preview/button_images/pepper_button.png");*/
/*}*/

/*#x3d_fanta_button {*/
/*    left: 10px;*/
/*    top: 160px;*/
/*    background-image: url("../assets/can_preview/button_images/fanta_button.png");*/
/*}*/
/*#wire_button {*/
/*    right: 10px;*/
/*    top: 10px;		;*/
/*    background-image: url("../assets/can_preview/button_images/wire_button.png");*/
/*}*/
/*#spin_button {*/
/*    right: 10px;*/
/*    top: 60px;*/
/*    background-image: url("../assets/can_preview/button_images/spin_button.png");*/
/*}*/
/*#x3d_can_button {*/
/*    right: 10px;*/
/*    top: 110px;*/
/*    background-image: url("../assets/can_preview/button_images/can_button.png");*/
/*}*/

/*#x3d_bottle_button {*/
/*    right: 10px;*/
/*    top: 160px;*/
/*    background-image: url("../assets/can_preview/button_images/bottle_button.png");*/
/*}*/

/*#x3d_cup_button {*/
/*    right: 10px;*/
/*    top: 210px;*/
/*    background-image: url("../assets/can_preview/button_images/cup_button.png");*/
/*}!* CSS Document *!*/

